@model IEnumerable<projects_portal.Models.AddProject>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZ_Project</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" asp-controller="Home" asp-route-userName="@User.Identity.Name" class="fixed-button"><i class="fa-solid fa-plus"></i></a>
    }

    <div class="content">
        <div class="container">
            @foreach (var item in Model)
            {
                <div class="card border border-0">
                    <div class="card-body">
                        <div class="user-header">
                            <div class="row">
                                <div class="col">
                                    <div class="username text-bg-dark" style="margin-left: 10px; margin-top: 4px">
                                        <h4 class="text-light" style="margin-bottom: 0px">@item.Name</h4>
                                        <p style="color: #696969"><b>@item.Group</b></p>
                                    </div>
                                </div>
                                <a class="edit" asp-action="editPost" asp-controller="home" asp-route-id="@item.Id" asp-route-userName="@item.Name" style="text-decoration: none"><b>Edit post</b><i class="fa-solid fa-sliders" style="padding-left: 15px"></i></a>
                                <a class="git" href="#" style="text-decoration: none"><b>GitHub</b><img src="https://cdn-user-icons.flaticon.com/89953/89953949/1673602034293.svg?token=exp=1673602970~hmac=9f848e572706812bd36fb631fbc48157" style="width: 30px; height: 30px; color: #ffff; padding-left: 10px" /></a>
                                <a class="download" asp-action="editPost" asp-controller="home" style="text-decoration: none"><b>Download</b><i class="fa-regular fa-folder" style="padding-left: 15px"></i></a>
                            </div>
                            <hr style="background-color: #696969; margin-top: 0px; margin-bottom: 30px" />
                        </div>
                        <div class="user-content">
                            <div class="box">
                                <img style="float: left" src="@Url.Content(item.ImagePath)">
                            </div>
                            <p class="title text-light" style="font-size: 25px; margin-bottom: 0px;">@item.NameOfProject</p>
                            <p class="description line-limit-length text-light" style="display: inline">@item.Description</p>
                        </div>
                        <p style="color: #696969; position: absolute; right: 40px; bottom: 0px; margin-top: 5px"><b>@item.TimeOfCreating</b></p>
                        <a style="color: #ffff; display: inline; position: absolute; right: 20px; bottom: 15px; margin-top: 10px"><i class="fa-regular fa-bookmark"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>