@model projects_portal.Models.AllModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZ_Project</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (User.Identity.IsAuthenticated && ViewData["role"].Equals("С"))
    {
        <a asp-action="Create" asp-controller="Home" asp-route-userName="@User.Identity.Name" class="fixed-button"><i class="fa-solid fa-plus"></i></a>
    }

    <div class="content">
        <div class="container">
            @foreach (var item in Model.projects)
            {
                <div class="card border border-0">
                    <div class="card-body">
                        <div class="user-header">
                            <div class="row">
                                <div class="col">
                                    <div class="username text-bg-dark" style="margin-left: 10px; margin-top: 4px">
                                        <h4 class="text-light" style="margin-bottom: 0px">@item.Name</h4>
                                        <p style="color: #696969"><b>@item.Group</b></p>
                                    </div>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (item.Name == User.Identity.Name || ViewData["role"].Equals("А"))
                                    {
                                        <a class="edit" asp-action="editPost" asp-controller="home" asp-route-id="@item.Id" asp-route-userName="@item.Name" style="text-decoration: none"><b>Редактировать</b><i class="fa-solid fa-sliders" style="padding-left: 15px"></i></a>
                                    }
                                    @if (ViewData["role"].Equals("П") || ViewData["role"].Equals("А"))
                                    {
                                        if (item.urlGit != null)
                                        {
                                            <a class="git text-light" href="@item.urlGit" style="text-decoration: none"><b>GitHub</b><img src="/Images/github.png" style="width: 35px; height:25px; padding-left: 10px; margin-bottom: 5px" /></a>
                                        }                                        
                                    }
                                }
                                <a class="presentation text-light" id="presentationText" href="@item.PresentationPath" download="@item.PresentationName" style="text-decoration: none"><b>Презентация</b><i class="fa-regular fa-folder" style="padding-left: 10px"></i></a>
                                @if (item.apkFilePath != null)
                                {
                                    <a class="download" href="@item.apkFilePath" download="@item.apkFileName" style="text-decoration: none"><b>Скачать</b><i class="fa-regular fa-folder" style="padding-left: 15px"></i></a>
                                }
                            </div>
                            <hr style="background-color: #696969; margin-top: 0px; margin-bottom: 30px" />
                        </div>
                        <div class="user-content">
                            <div class="box">
                                <img style="float: left" src="@Url.Content(item.ImagePath)">
                            </div>
                            <p class="title text-light" style="font-size: 25px; margin-bottom: 0px;">@item.NameOfProject</p>
                            <p class="description line-limit-length text-light" style="display: inline">@item.Description</p>
                        </div>
                        <div class="user-footer">
                            <a class="site-url text-light" href="@item.siteUrl">@item.siteUrl</a>
                            <p style="color: #696969; display: inline; margin-right: 10px"><b>@item.TimeOfCreating</b></p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                Console.WriteLine("Entered");
                                @if (ViewData["role"].Equals("П") || ViewData["role"].Equals("А"))
                                {
                                    Console.WriteLine("Entered as a teacher");
                                    @if (Model.favorite.Select(f => f.Id).Count() > 0)
                                    {
                                        Console.WriteLine("Favorite table != null");
                                        @foreach (var fav in Model.favorite)
                                        {
                                            Console.WriteLine("Entered in foreach " + fav.postFavoriteId);
                                            @if (item.Id == fav.postFavoriteId)
                                            {
                                                <form asp-action="deleteFavoritePost" method="post" asp-controller="home" style="float: right" asp-route-userNameFavorite="@User.Identity.Name" asp-route-postFavoriteId="@fav.postFavoriteId">
                                                    <button class="favoriteButton" type="submit" style="color: #ffff"><i class="fa-solid fa-bookmark"></i></button>
                                                </form>
                                                break;
                                            }
                                            else if (item.Id != fav.postFavoriteId)
                                            {
                                                Console.WriteLine("Post is not favorite");
                                                <form asp-action="favoritePost" asp-controller="home" style="float: right" asp-route-userName="@User.Identity.Name" asp-route-postId="@item.Id">
                                                    <button class="favoriteButton" type="submit" style="color: #ffff"><i class="fa-regular fa-bookmark"></i></button>
                                                </form>
                                            }
                                        }
                                    } else
                                    {
                                        Console.WriteLine("Favorite table = null ");
                                        <form asp-action="favoritePost" asp-controller="home" style="float: right" asp-route-userName="@User.Identity.Name" asp-route-postId="@item.Id">
                                            <button class="favoriteButton" type="submit" style="color: #ffff"><i class="fa-regular fa-bookmark"></i></button>
                                        </form>
                                    }
                                }   
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>