@model projects_portal.Models.AllModels;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonoLOG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <header class="headerColor">
            <div class="container pb-2 pt-2 mb-4">
                <div class="header-item">
                    <a style="text-decoration: none" asp-action="Index" asp-controller="home"><h4 class="text-light" style="float: left">MonoLOG</h4></a>
                </div>
                <div class="header_main" align="right">
                    <div class="header_item">
                        <form asp-action="Index" asp-controller="home">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (ViewData["role"].Equals("teacher") || ViewData["role"].Equals("admin"))
                                {
                                        <input class="search_field text-light" name="searchText" placeholder="Найти" autocomplete="off" type="text" />
                                }
                            }
                        </form>
                    </div>
                    <div class="categories dropdown" align="right">
                        <button class="categories_btn btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="category_btn"><b>Категории</b> <i class="fa-solid fa-caret-down" style="padding-left: 10px;"></i></button>
                        <ul class="categories_menu dropdown-menu">
                            <form asp-action="Index" asp-controller="home">
                                <li><button class="categories_item text-light" name="category"><b>Все категории</b></button></li>
                                <li><button class="categories_item text-light" name="category" value="graduate"><b>Дипломки</b></button></li>
                                <li><button class="categories_item text-light" name="category" value="project"><b>Проекты</b></button></li>
                            </form>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (ViewData["role"].Equals("teacher"))
                            {
                                <li><a class="categories_item text-light" asp-action="studentsPage" asp-controller="home"><b>Студенты</b></a></li>
                            }
                        }
                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @foreach (var user in Model.users.Where(u => u.Name == User.Identity.Name))
                        {
                            <div class="header_item">
                                <h3 class="right_text text-light" style="font-size: 15px"><button class="userModal text-light" onclick="getMyInfo(@user.Id)" data-bs-toggle="modal" data-bs-target="#userModal"><b>@User.Identity.Name</b></button>/ <a asp-action="Logout" asp-controller="home" style="text-decoration: none" class="text-light">Выйти</a></h3>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="header_item">
                            <h3 class="right_text text-light" style="font-size: 15px"><a asp-action="Login" asp-controller="home" class="text-light" style="text-decoration: none">Войти</a> / <a asp-action="Register" asp-controller="home" style="text-decoration: none" class="text-light">Зарегистрироваться</a></h3>
                        </div>
                    }
                </div>
            </div>
        </header>

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modalContent modal-content">
                    <div class="modal_header">
                        <div class="modalClose">
                            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        @foreach (var user in Model.users.Where(u => u.Name == User.Identity.Name))
                        {
                            <div class="changeUser_modal">
                                <a class="changeUser text-light" asp-action="changeUser" asp-controller="home" asp-route-id="@user.Id"><i class="fa-solid fa-user-pen"></i></a>
                            </div>
                        }
                    </div>
                <div class="modal_body">
                        <div class="modal-item">
                            <h4 class="text-light" id="userNameText" style="margin-bottom: 0px"><b></b></h4>
                        </div>
                        <div class="modal-item">
                            <h5 class="itemText" id="groupText"><b></b></h5>
                        </div>
                        <div class="modal-item">
                            @foreach (var user in Model.users.Where(u => u.Name == User.Identity.Name))
                            {
                                @if (user.Role.Equals("student"))
                                {
                                    <h4 class="text-light" style="padding-top: 5px" id="curatorItemText"><b>Куратор</b></h4>
                                }
                            }
                        <h5 class="itemText" id="curatorName"><b></b></h5>
                        </div>
                    @foreach(var user in Model.users.Where(u => u.Name == User.Identity.Name))
                    {
                        if (user.Instagram != null)
                        {
                            <div class="modal-item" style="margin-top: 10px">
                                <h4 class="colorItemText" id="instText"><i class="fa-brands fa-instagram" style="padding-right: 18px"></i><b></b></h4>
                            </div>
                        } 
                        if (user.Email != null)
                        {
                            <div class="modal-item">
                                <h4 class="colorItemText" id="emailText"><i class="fa-solid fa-envelope" style="padding-right: 18px"></i><b></b></h4>
                            </div>
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (ViewData["role"].Equals("teacher"))
                        {
                            <div class="my_students_modal">
                                <a class="my_students text-light" asp-action="studentsPage" asp-controller="home" asp-route-teacherName="@User.Identity.Name">Работы студентов</a>
                            </div>
                            <div class="add_student_modal">
                                <a class="add_student_btn text-light" asp-action="studentsPage" asp-controller="home">Добавить студента</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="main_container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-item" style="text-align:left">
                <div class="developer">
                    <p class="main_text"><b>Разработчик</b></p>
                    <p class="footer_text"><b>Бозжанов Карим</b></p>
                    <p class="footer_text"><b>Группа - РПОД4-21Р</b></p>
                </div>
            </div>
            <div class="footer-item" style="text-align: left">
                <div class="designer">
                    <p class="main_text"><b>Дизайнер</b></p>
                    <p class="footer_text"><b>Бауыржан Алишер</b></p>
                    <p class="footer_text"><b>Группа - РПОД4-21Р</b></p>
                </div>
            </div>
            <div class="footer-item" style="text-align: left">
                <div class="contacts">
                    <p class="main_text"><b>Связаться с нами</b></p>
                    <p class="footer_text"><i class="fa-brands fa-instagram" style="padding-right: 5px"></i> <b>RPOD4_21R</b></p>
                    <p class="footer_text"><i class=" fa-solid fa-phone" style="padding-right: 5px"></i><b>+7 (707) 233 55 99</b></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script type="text/javascript">
    function getMyInfo(userId) {
        $.ajax({
            url: "/home/getMyInfo/" + userId,
            method: "GET",
            type: "json",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                $("#userNameText b").html(data.Name);
                $("#groupText b").html(data.Group);
                $("#curatorName b").html(data.Curator);
                $("#instText b").html(data.Instagram);
                $("#emailText b").html(data.Email);
            }
        })
    }
</script>
